<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eightlabs.sltrainschedule"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:targetSdkVersion="21"
        tools:ignore="UsesMinSdkAttributes" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_label"
        android:theme="@style/Theme.Apptheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Apptheme" >
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
